.li
{
    width: 100%;
    padding: .5rem 1rem;
    display: grid;
    grid-template-columns: 47% 47%;
    gap:6%;
    align-items: center;
    justify-items: center;
}
.item
{
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #6B7280;
    font-size: 1rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}
.li::selection
{
    background: none;
}
.li:hover>.item
{
    color: #1F2937;
}