.li
{
    width: 100%;
    padding: .5rem .8rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap:.5rem;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}
.item
{
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #6B7280;
    font-size: .8rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}
.li::selection
{
    background: none;
}
.li:hover>.item
{
    color: #2474f4; 
}