.container
{
    width: 100%;
    min-height: 100vh;
    background-color: #E5E7EB;
    display: flex;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
}
.main
{
    width: 75vw;
    background-color: #F9FAFB;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 6rem 5rem;
    gap:4rem;
    overflow: hidden;
}
.loading
{
    width: 5rem;
    height: 5rem;
}
.loadingContainer
{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #F9FAFB;
}
.errorContainer
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    background-color: #F9FAFB;
}
.invoiceError
{
    width: 6rem;
    height: 6rem;
}
.errorContainer>h2
{
    font-weight:900;
    font-size: 1.8rem;
    color: #6B7280;
    font-family: "Inter", sans-serif;
}
.errorContainer>h3
{
    font-weight:900;
    font-size: 1.2rem;
    padding: 0 20rem;
    text-align: center;
    color: #6B7280;
    font-family: "Inter", sans-serif;
}
.markError
{
    font-weight:900;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    color: #3B82F6;
    background: none;
}
.back
{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top:2rem;
    left:2rem;
    z-index: 3;
    cursor: pointer;
}
.arrow
{
    width: 100%;
    height: 100%;
    rotate: 180deg;
    transform: scale(1.5);
    fill: #6B7280;
}
.back:hover>.arrow
{
    fill: #1F2937;
}
.header
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:.5rem;
}
.header>h1
{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 1.4rem;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #1F2937;
    grid-column: 1/3;
}
.header>p
{
    font-size: .8rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #6B7280;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    grid-column: 1/2;
}
.invoiceAction
{
    grid-column: 2/3;
    grid-row: 2/5;
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    gap:.8rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.invoiceAction>h2
{
    font-size: 1.8rem;
    font-weight: 900;
    color: #3B82F6;
    font-family: "Poppins", sans-serif;
}
.changeAction
{
    outline: none;
    font-size: .9rem;
    padding: .4rem;
    color: white;
    border-radius: .5rem;
    border: 0;
    background-color: #8790a0;
    cursor: pointer;
    position: relative;
    width: 50%;
}
.changeAction>h3
{
    font-family: "Roboto", sans-serif;
    font-weight: 700; 
    text-align: center;  
}
.actionList
{
    position: absolute;
    left:0;
    right: 0;
    top:120%;
    border-radius: .5rem;
    list-style-type: none;
    background-color: #595f6a;
    overflow: hidden;
}
.actionList>li
{
    width: 100%;
    text-align: center;
    padding: .5rem;
    font-size: .9rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}
.actionList>li:hover
{
        background-color: #8790a0;
}
.buyerSellerInfo
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:5rem;
}
.section
{
    display: flex;
    flex-direction: column;
    gap:.5rem;
}
.section>h2
{
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: .8rem;
    color: #1F2937;
    font-family: "Inter", sans-serif;
}
.line
{
    width: 90%;
    height: .2rem;
    border-radius: 10px;
    background-color: #6B7280;
    margin-bottom: .6rem;
}
.sectionItem
{
    padding: .3rem 0;
    font-size: .8rem;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #6B7280;
}

.table
{
    width: calc(100% - 2px);
    display: grid;
    grid-template-columns: 4rem 5fr 2fr 2fr 2fr;
    border:.2rem solid #6B7280;
    padding: 0 0 1rem 0;
    background-color: #E5E7EB;  
}
.tableHeaderItem
{
    background-color: #3B82F6;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: .5rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
}
.tableItem
{
    padding: .4rem .2rem;
    text-align: center;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    font-size: .8rem;
    margin-top: 1rem;
}
.commentItem
{
    grid-column: 2/6;
    padding: 0;
}
.commentBtn
{
    font-size: .9rem;
    width: 90%;
    padding: .3rem .8rem;
    border-radius: .4rem;
    outline: none;
    border: 0;
    background-color: #8790a0;
    color: white;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.commentBtn:hover
{
    background-color: #60A5FA;
}
.commentInput
{
    width: 50%;
    height: 100%;
    background:none;
    outline: none;
    border: 0;
    font-size: .8rem;
    padding: 0rem 1rem;
    color: #6B7280;
    font-family: "Roboto", sans-serif;
    text-overflow: ellipsis;
    cursor: pointer;
}
.commentInput:focus
{
    cursor: text;
}
.nameItem
{
    width: 100%;
    display: grid;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    padding-left: 1rem;
}
.sum
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sumTable
{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.sumTableHeader
{
    background-color: #3B82F6;
    color: white;
    padding: .6rem .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: .9rem;
    border: .105rem solid #6B7280;
}
.sumTableItem
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: #1F2937;
    font-size: .8rem;
    font-weight: 500;
    border: .105rem solid #6B7280;
}
.tableBorderLeft
{
    border-left: .2rem solid #6B7280;
}
.tableBorderTop
{
    border-top: .2rem solid #6B7280;
}
.tableBorderRight
{
    border-right: .2rem solid #6B7280;
}
.tableBorderBottom
{
    border-bottom: .2rem solid #6B7280;
}
.bold
{
    font-weight: 900;
    font-family: "Poppins", sans-serif;
}
.action
{
    padding: .3rem .8rem;
    border-radius: .4rem;
    background-color: #8790a0;
    color: white;
    cursor: pointer;
    width: 90%;
    position: relative;
}
.action>h3
{
    font-size: .9rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.list
{
    position: absolute;
    top:120%;
    left:0;
    right: 0;
    background-color: #595f6a;
    border:.3rem solid #434750;
    list-style-type: none;
    border-radius: .4rem;
    overflow: hidden;
    z-index: 2;
}
.list>li
{
    width: 100%;
    padding: .4rem;
    font-size: .8rem;
    font-family: "Roboto", sans-serif;
}
.list>li:hover
{
    background-color: #8890a1;
}
.elementOverline
{
    text-decoration: line-through .15rem red;
}
.actionLocked
{
    cursor: default;
    background: none;
}
.actionLocked>h3
{
    color: #6B7280;
    font-weight: 700;
}
.commentBtn::selection,
.action::selection
{
    background: none;
}
.commentsArticle
{
    width: 80%;
    align-self: center;
    border:.2rem solid #6B7280;
    position: relative;
    padding: .3rem;
    margin-bottom: 1rem;
}
.commentsHeader
{
    position: absolute;
    height: 1.5rem;
    padding: 0 1.5rem;
    font-size: 1.2rem;
    background-color: #F9FAFB;
    top:-1rem;
    left:50%;
    translate: -50% 0;
    font-family: "Inter", sans-serif;
    color: #1F2937;
}
.textArea
{
    width: 100%;
    min-height: 10rem;
    outline: none;
    background: none;
    border: 0;
    padding: 1rem;
    resize: none;
    font-size: .8rem;
    font-family: "Roboto", sans-serif;
}
.textArea::placeholder
{
    font-weight: 700;
}
.textArea::-webkit-scrollbar
{
    height: 0;
    width: .5rem;
}
.textArea::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #60A5FA;
    cursor: default;
}
.payment
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:.5rem;
    align-items: center;
}
.payment>h2
{
    font-size: 1.2rem;
    font-weight: 700;
    color: #1F2937;
    font-family: "Inter", sans-serif;
    
}
.paymentLine
{
    width: 30%;
    height: .2rem;
    border-radius: 10px;
    background-color: #6B7280;
    margin-bottom: .6rem;
}
.payment>p
{
    padding: .3rem 0;
    font-size: .8rem;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #6B7280;
}
.actionTableHeaderItem
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.5rem;
    cursor: pointer;
    position: relative;
}
.actionTableHeaderItem::selection
{
    background:none;
}
.dropdownMenuIcon
{
    margin-top: .1rem;
    width: .8rem;
    height: .8rem;
    rotate: 180deg;
    fill: rgb(250, 250, 250);
}
.cursorDefault
{
    cursor: default;
}