.container
{
    width: 100%;
    min-height: 100vh;
    background-color: #E5E7EB;
    display: flex;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
}
.main
{
    width: 75vw;
    min-height: calc(100svh - 4rem);
    background-color: #F9FAFB;
    position: relative;
}
.loading
{
    width: 5rem;
    height: 5rem;
}
.loadingContainer
{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #F9FAFB;
}
.errorContainer
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    background-color: #F9FAFB;
}
.invoiceError
{
    width: 6rem;
    height: 6rem;
}
.errorContainer>h1
{
    font-weight:900;
    font-size: 1.8rem;
    color: #6B7280;
    font-family: "Inter", sans-serif;
}
.back
{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top:2rem;
    left:2rem;
    z-index: 3;
    cursor: pointer;
}
.arrow
{
    width: 100%;
    height: 100%;
    rotate: 180deg;
    transform: scale(1.5);
    fill: #6B7280;
}
.back:hover>.arrow
{
    fill: #1F2937;
}