.container
{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 2rem;
    border:.3rem solid #bec1c7;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto;
    padding-bottom: 1rem;
}
.errorContainer
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
    grid-row: 1/3;
}
.errorSVG
{
    width: 5rem;
    height: 5rem;
    transform: scale(1.5);
}
.notFoundSVG
{
    width: 5rem;
    height: 5rem;
}
.errorContainer>h2
{
    color: #6B7280;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: "Open Sans", sans-serif;
    cursor: default;
}
.errorContainer>h2::selection
{
    background:none;
}
.topMenu
{
    width: 100%;
    display: grid;
    gap:2rem;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 15.5rem;
    padding: .8rem 2rem;
    background-color: #E5E7EB;
}
.invoicesList
{
    width: 100%;
    height: 100%;
    list-style-type: none;
    overflow: auto;
}
.invoicesList>:nth-child(even)
{
    background-color: #F9FAFB;
}
.topBarElement
{
    font-size: .9rem;
    font-weight: 800;
    color: #6B7280;
    font-family: "Inter", sans-serif;
}
.checkAll
{
    font-size: .9rem;
    outline: none;
    border: 0;
    background: none;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    color: #3B82F6;
}
.checkAll:hover
{
    color: #60A5FA;
    text-decoration: underline .1rem #60A5FA;
}
.loadingContainer
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/3;
}
.loading
{
    width: 5rem;
    height: 5rem;
}
.scrollLoading
{
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    justify-self: center;
    background-color: #FFFFFF !important;
}