.aside
{
    background-color: rgb(220, 220, 220);
    width: 25%;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    z-index: 2;
    transition: transform .3s ease-in-out;
}
.hideAside
{
    transform: translate(-100%,0);
}
.arrow
{
    position: absolute;
    top:5rem;
    width: 2rem;
    height: 5rem;
    border-radius: 0rem 1rem 1rem 0;
    left:100%;
    background-color: rgb(220, 220, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.arrow:hover>.arrowIcon
{
    fill: rgb(77, 77, 77);
}
.arrowIcon
{
    width: 2rem;
    height: 2rem;
    transform: scale(1.5) rotate(-180deg);
    fill: rgb(113, 113, 113);
    margin-right: .3rem;
    transition: transform .3s ease-in-out;
}
.arrowRotated
{
    transform: rotate(0deg) scale(1.5);
}